.boriosa {
    display: flex;
    flex-direction: row;
    height: 600px;
    position: relative;

    &_left {
        flex-grow: 1;
        width: 100px;

        &::after {
            @include after;
        }

        &_top {
            height: 400px;
            padding-left: 8%;
            padding-right: 8%;
            text-align: center;



            &_logo {
                margin-top: 65px;
                margin-bottom: 30px;
            }

            &_h2 {
                font-size: 18px;
                margin-bottom: 30px;
            }

            &_p {
                color: #9EA0A2;
                font-size: 16px;
                line-height: 30px;
            }
        }

        &_bottom {
            position: relative;
            height: 200px;

            background-image: url(img/boriosa/background_left.png);
            background-repeat: no-repeat;
        }
    }

    &_right {
        position: relative;
        flex-grow: 2;
        height: 600px;
        width: 100px;
        background: url(img/boriosa/background-right.png);
        background-repeat: no-repeat;
        background-position: center;

        background-size: 100% 100%;

        &_logo {

            position: absolute;
            margin-left: 325px;
            margin-top: 220px;

        }
    }
}

@media (max-width: 1024px) {
    .boriosa {
        height: 1305px;
        display: flex;
        flex-direction: column-reverse;

        &_left {
            height: 520px;
            width: 100%;
            position: relative;

            &::after {

                margin-top: -394px;
                margin-left: 510px;

            }
        }

        &_right {
            background-size: cover;
            height: 520px;
            width: 100%;
            flex-grow: 0;

            &_logo {
                position: absolute;
                margin-left: 420px;
                margin-top: 210px;
            }



            &_top {

                text-align: center;
                height: 400px;
                position: relative;

            }
        }


        &_left_bottom {


            height: 385px;
            background-size: cover;
        }
    }

    .dimming {

        left: 0;
        top: 0;
        height: 100%;
        width: 100%;

    }
}

.hr {
    margin-left: 412px;
}
@media (max-width:768px){
    .boriosa{
        &_right{
            // flex-grow: 1;

        }
    }
}