.footer {
    height: 250px;
    background: #F7F7F7;
    display: flex;
    justify-content: space-between;
    padding-top: 100px;

    &_address {
        font-style: italic;
        color: #8B8E8F;
    }

    &_social {
        &_img {
            margin-right: 15px;

        }
    }

    &_logo {
        font-style: italic;
        color: #8B8E8F;
        display: flex;

        &_img {
            height: 36px;
            margin-left: 10px;
            margin-top: -7px;
        }
    }


}

.span_address {
    font-weight: bold;
    color: #888A8C;
}

@media(max-width:1024px) {
    .footer {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media(max-width:768px) {
    .footer {
        height: 180px;
        padding-top: 80px;
        &_address {
            &_p {
                font-size: 12px;
            }
        }

        &_logo {
            &_p {
                font-size: 12px;
            }
        }

        &_social {
            &_img {
                height: 28px;
            }

        }
    }
}
@media(max-width:425px){
    .footer{
        padding-top: 40px;
        display: block;
        text-align: center;
        &_logo{
            display: none;
        }
        &_address{
            margin-bottom: 20px;
        }
    }
}