*{
    margin: 0;
    padding: 0;font-family: 'Lato';
}

    .center {
        padding-left: calc(50% - 590px);
        padding-right: calc(50% - 590px);
    }
    a{
        text-decoration: none;
       
        }
    
    ul li {
        list-style-type: none;
    }
    
