.oliva {
    height: 600px;
    display: flex;
    flex-direction: row;

    &_left {

        height: 600px;
        width: 100px;
        background-image: url(img/oliva/background_left.png);
        background-repeat: no-repeat;
        flex-grow: 2;
        position: relative;

        &_logo {
            position: absolute;
            z-index: 1;
            margin-left: 370px;
            margin-top: 250px;
        }
    }

    &_right {

        width: 100px;
        flex-grow: 1;

        &::after {
            @include after;
        }

        &_top {
            padding-left: 8%;
            padding-right: 8%;
            text-align: center;
            height: 400px;
            position: relative;





            &_logo {
                margin-top: 65px;
                margin-bottom: 30px;
            }

            &_h2 {
                font-size: 18px;
                margin-bottom: 30px;
            }

            &_p {
                color: #9EA0A2;
                font-size: 16px;
                line-height: 30px;
            }

        }

        &_bottom {
            position: relative;
            background-image: url(img/oliva/background-right.png);
            background-repeat: no-repeat;
            height: 200px;


        }
    }

}

@media (max-width: 1024px) {
    .oliva {
        height: 1305px;
        display: flex;
        flex-direction: column;

        &_left {
            height: 520px;
            width: 100%;
            position: relative;

            &_logo {
                position: absolute;
                z-index: 2;
                margin-left: 450px;
                margin-top: 200px;

            }
        }

        &_right {
            width: 100%;

            &::after {
                // @include after;
                margin-top: -393px;
                margin-left: 500px;

            }

            &_top {

                text-align: center;
                height: 400px;
                position: relative;

            }
        }


        &_right_bottom {

            background-image: url(img/oliva/background-right.png);
            background-repeat: no-repeat;
            height: 385px;
            background-size: cover;
        }
    }

    .dimming {

        left: 0;
        top: 0;
        height: 100%;
        width: 100%;

    }
    .hr {
        margin-left: 397px;
    }
    
}


@media(max-width: 768px) {
    .oliva {
        height: 1152px;

        &_right {
            height: 100%;

            &_bottom {
                background-size: contain;
                height: 288px;
            }

            &::after {
                margin-left: 380px;
                margin-top: -295px;
            }

            &_top {
                height: 350px;

                &_logo {
                    margin-top: 50px;
                }
            }
        }

        &_left {
            height: 100%;
            background-size: cover;
            flex-grow: 1;

            &_logo {
                margin-left: 330px;
                margin-top: 270px;
            }
        }

        .hr {
            margin-left: 302px;
        }
    }

}

@media(max-width:425px) {
    .oliva {
        height: 509px;

        &_left {
            display: none;
            
        }

        &_right {
            &_bottom{
                height: 160px;
            }
            &::after {
                margin-left: 212px;
                margin-top: -167px;
            }

            &_top {
                &_p {
                    font-size: 14px;
                    line-height: 27px;
                }

                &_logo {
                    margin-top: 20px;
                }
            }
        } 
        .hr {
        margin-left: 162px;
    }
    }

   
}