.header {
  height: 800px;
  background-image: url(img/header/background.png);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.header_ul {
  margin-top: 70px;
}

.header_ul li {
  display: inline;
  margin-right: 40px;
}

.header_li_a {
  font-weight: bold;
  font-size: 13px;
  color: #4D4959;
}

.header_li_a:hover {
  color: #FF5300;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header_menu_logo {
  margin-top: 30px;
  margin-right: 40px;
}

@media (max-width: 768px) {
  .header {
    background-size: cover;
    height: 500px;
  }
}

@media (max-width: 425px) {
  .header {
    height: 300px;
  }
  .header_li_a {
    font-size: 12px;
  }
  .header_ul {
    margin-top: 40px;
  }
  .header_menu_logo {
    height: 55px;
    width: 60px;
    margin-top: 20px;
    margin-right: 13px;
  }
  .header_ul li {
    margin-right: 10px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato';
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.center_content {
  padding-left: calc(50% - 750px);
  padding-right: calc(50% - 750px);
}

.no_center {
  padding-left: 0;
  padding-right: 0;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

.hr {
  width: 50px;
  margin-left: 180px;
  background-color: #E3E3E3;
  border: none;
  height: 2px;
  margin-top: 25px;
}

.dimming {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.3;
}

.vintage {
  height: 1070px;
  background-color: #F7F7F7;
  text-align: center;
  height: 470px;
  background-color: #F7F7F7;
}

.vintage_logo {
  margin-bottom: 35px;
  margin-top: 118px;
}

.vintage_h2 {
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 18px;
  color: #353738;
}

.vintage_p {
  color: #8F9193;
  font-size: 18px;
  font-weight: normal;
  line-height: 34px;
}

@media (max-width: 1024px) {
  .vintage {
    padding-left: 10%;
    padding-right: 10%;
  }
  .vintage_logo {
    margin-top: 75px;
  }
}

@media (max-width: 768px) {
  .vintage {
    height: 450px;
  }
  .vintage_h2 {
    margin-bottom: 30px;
  }
  .vintage_p {
    font-size: 16px;
  }
  .vintage_logo {
    margin-top: 40px;
  }
}

@media (max-width: 425px) {
  .vintage {
    padding-left: 6%;
    padding-right: 6%;
  }
  .vintage_logo {
    margin-top: 40px;
  }
  .vintage_h2 {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .vintage_p {
    font-size: 13px;
    line-height: 27px;
    padding-top: 20px;
  }
}

.oliva {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.oliva_left {
  height: 600px;
  width: 100px;
  background-image: url(img/oliva/background_left.png);
  background-repeat: no-repeat;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  position: relative;
}

.oliva_left_logo {
  position: absolute;
  z-index: 1;
  margin-left: 370px;
  margin-top: 250px;
}

.oliva_right {
  width: 100px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.oliva_right::after {
  content: '';
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: white;
  margin-top: -208px;
  margin-left: 236px;
}

.oliva_right_top {
  padding-left: 8%;
  padding-right: 8%;
  text-align: center;
  height: 400px;
  position: relative;
}

.oliva_right_top_logo {
  margin-top: 65px;
  margin-bottom: 30px;
}

.oliva_right_top_h2 {
  font-size: 18px;
  margin-bottom: 30px;
}

.oliva_right_top_p {
  color: #9EA0A2;
  font-size: 16px;
  line-height: 30px;
}

.oliva_right_bottom {
  position: relative;
  background-image: url(img/oliva/background-right.png);
  background-repeat: no-repeat;
  height: 200px;
}

@media (max-width: 1024px) {
  .oliva {
    height: 1305px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .oliva_left {
    height: 520px;
    width: 100%;
    position: relative;
  }
  .oliva_left_logo {
    position: absolute;
    z-index: 2;
    margin-left: 450px;
    margin-top: 200px;
  }
  .oliva_right {
    width: 100%;
  }
  .oliva_right::after {
    margin-top: -393px;
    margin-left: 500px;
  }
  .oliva_right_top {
    text-align: center;
    height: 400px;
    position: relative;
  }
  .oliva_right_bottom {
    background-image: url(img/oliva/background-right.png);
    background-repeat: no-repeat;
    height: 385px;
    background-size: cover;
  }
  .dimming {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
  .hr {
    margin-left: 397px;
  }
}

@media (max-width: 768px) {
  .oliva {
    height: 1152px;
  }
  .oliva_right {
    height: 100%;
  }
  .oliva_right_bottom {
    background-size: contain;
    height: 288px;
  }
  .oliva_right::after {
    margin-left: 380px;
    margin-top: -295px;
  }
  .oliva_right_top {
    height: 350px;
  }
  .oliva_right_top_logo {
    margin-top: 50px;
  }
  .oliva_left {
    height: 100%;
    background-size: cover;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .oliva_left_logo {
    margin-left: 330px;
    margin-top: 270px;
  }
  .oliva .hr {
    margin-left: 302px;
  }
}

@media (max-width: 425px) {
  .oliva {
    height: 509px;
  }
  .oliva_left {
    display: none;
  }
  .oliva_right_bottom {
    height: 160px;
  }
  .oliva_right::after {
    margin-left: 212px;
    margin-top: -167px;
  }
  .oliva_right_top_p {
    font-size: 14px;
    line-height: 27px;
  }
  .oliva_right_top_logo {
    margin-top: 20px;
  }
  .oliva .hr {
    margin-left: 162px;
  }
}

.boriosa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 600px;
  position: relative;
}

.boriosa_left {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100px;
}

.boriosa_left::after {
  content: '';
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: white;
  margin-top: -208px;
  margin-left: 236px;
}

.boriosa_left_top {
  height: 400px;
  padding-left: 8%;
  padding-right: 8%;
  text-align: center;
}

.boriosa_left_top_logo {
  margin-top: 65px;
  margin-bottom: 30px;
}

.boriosa_left_top_h2 {
  font-size: 18px;
  margin-bottom: 30px;
}

.boriosa_left_top_p {
  color: #9EA0A2;
  font-size: 16px;
  line-height: 30px;
}

.boriosa_left_bottom {
  position: relative;
  height: 200px;
  background-image: url(img/boriosa/background_left.png);
  background-repeat: no-repeat;
}

.boriosa_right {
  position: relative;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  height: 600px;
  width: 100px;
  background: url(img/boriosa/background-right.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.boriosa_right_logo {
  position: absolute;
  margin-left: 325px;
  margin-top: 220px;
}

@media (max-width: 1024px) {
  .boriosa {
    height: 1305px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .boriosa_left {
    height: 520px;
    width: 100%;
    position: relative;
  }
  .boriosa_left::after {
    margin-top: -394px;
    margin-left: 510px;
  }
  .boriosa_right {
    background-size: cover;
    height: 520px;
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .boriosa_right_logo {
    position: absolute;
    margin-left: 420px;
    margin-top: 210px;
  }
  .boriosa_right_top {
    text-align: center;
    height: 400px;
    position: relative;
  }
  .boriosa_left_bottom {
    height: 385px;
    background-size: cover;
  }
  .dimming {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
}

.hr {
  margin-left: 412px;
}

@media (max-width: 768px) {
  .boriosa {
    height: 1147px;
  }
  .boriosa_right {
    background-size: contain;
    height: 432px;
  }
  .boriosa_right_logo {
    margin-left: 310px;
    margin-top: 150px;
  }
  .boriosa_left_top {
    height: 330px;
  }
  .boriosa_left_top_logo {
    margin-top: 40px;
  }
  .boriosa_left::after {
    margin-left: 384px;
  }
  .hr {
    margin-left: 307px;
  }
}

@media (max-width: 425px) {
  .boriosa {
    height: 488px;
  }
  .boriosa_right {
    display: none;
  }
  .boriosa_left {
    height: auto;
    height: 160px;
    background-size: contain;
  }
  .boriosa_left_top_logo {
    margin-top: 20px;
  }
  .boriosa_left_top_p {
    font-size: 14px;
    line-height: 27px;
  }
  .boriosa_left::after {
    margin-left: 212px;
    margin-top: -167px;
  }
  .boriosa_left_bottom {
    background-size: contain;
    height: 159px;
  }
  .hr {
    margin-left: 162px;
  }
}

.hulot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
}

.hulot_hr {
  width: 50px;
  margin-left: 165px;
  background-color: #E3E3E3;
  border: none;
  height: 2px;
  margin-top: 25px;
}

.hulot_left, .hulot_middle, .hulot_right {
  height: 600px;
  width: 100px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.hulot_left {
  background-image: url(img/hulot/background-left.png);
  background-repeat: no-repeat;
  position: relative;
}

.hulot_left_logo {
  margin-top: 268px;
  margin-left: 150px;
  position: absolute;
}

.hulot_middle_top {
  text-align: center;
  height: 400px;
  padding-left: 8%;
  padding-right: 8%;
  position: relative;
}

.hulot_middle_top::after {
  content: '';
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: white;
  margin-left: 182px;
  margin-top: 37px;
  z-index: 1;
}

.hulot_middle_top_logo {
  margin-top: 60px;
  margin-bottom: 25px;
}

.hulot_middle_top_h2 {
  font-size: 18px;
}

.hulot_middle_top_p {
  margin-top: 28px;
  color: #9EA0A2;
  font-size: 15px;
  line-height: 30px;
}

.hulot_middle_bottom {
  position: relative;
  background-image: url(img/hulot/background-middle.png);
  background-repeat: no-repeat;
  height: 200px;
}

.hulot_right {
  position: relative;
  background-image: url(img/hulot/background-right.png);
  background-repeat: no-repeat;
}

@media (max-width: 1024px) {
  .hulot_middle_top::after {
    margin-left: 138px;
    margin-top: 31px;
  }
  .hulot_middle_top_p {
    margin-top: 20px;
    line-height: 28px;
  }
  .hulot_middle_top_logo {
    margin-top: 27px;
  }
  .hulot_middle_bottom {
    background-position-x: -40px;
  }
  .hulot_right {
    background-position: center;
  }
  .hulot_left {
    background-position: center;
  }
  .hulot_left_logo {
    margin-left: 67px;
  }
  .hulot_hr {
    margin-left: 120px;
  }
}

@media (max-width: 768px) {
  .hulot {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hulot_left {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: auto;
    background-size: cover;
    height: 400px;
  }
  .hulot_left_logo {
    margin-left: 270px;
    margin-top: 175px;
  }
  .hulot_middle {
    width: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    height: 500px;
  }
  .hulot_middle_top {
    height: 300px;
  }
  .hulot_middle_top::after {
    margin-left: 300px;
    margin-top: 44px;
  }
  .hulot_middle_bottom {
    background-position: 0px;
    background-size: cover;
  }
  .hulot_right {
    width: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    height: 400px;
    background-size: cover;
  }
  .hulot_hr {
    margin-left: 285px;
  }
}

@media (max-width: 425px) {
  .hulot_middle_top {
    height: 320px;
  }
  .hulot_middle_top_logo {
    margin-top: 20px;
  }
  .hulot_middle_top_p {
    font-size: 14px;
    line-height: 27px;
  }
  .hulot_middle_top::after {
    margin-left: 181px;
    margin-top: 19px;
  }
  .hulot_left {
    display: none;
  }
  .hulot_hr {
    margin-left: 164px;
  }
}

.social {
  background: #F7F7F7;
  text-align: center;
}

.social_twitter {
  margin-top: 125px;
  margin-bottom: 37px;
}

.social_h3 {
  margin-bottom: 35px;
  font-size: 18px;
}

.social_span {
  color: #E2E2E3;
  margin-left: 8px;
}

.social_p {
  margin-bottom: 110px;
  color: #9EA0A2;
  line-height: 25px;
  font-size: 15px;
}

.social_pag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 70px;
}

.social_pag_block {
  height: 11px;
  width: 11px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid #A9AFB3;
}

.social_pag_block:hover {
  background: #A9AFB3;
}

.social_active {
  background: #A9AFB3;
}

@media (max-width: 1024px) {
  .social {
    padding-left: 10%;
    padding-right: 10%;
  }
  .social_twitter {
    margin-top: 50px;
  }
  .social_p {
    margin-bottom: 70px;
  }
}

@media (max-width: 425px) {
  .social_p {
    font-size: 14px;
    line-height: 27px;
    margin-bottom: 35px;
  }
  .social_twitter {
    margin-top: 30px;
  }
  .social_h3 {
    margin-bottom: 20px;
  }
  .social_pag {
    padding-bottom: 35px;
  }
}

.shop {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.shop_left {
  width: 100px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.shop_left_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop_left_top_a {
  position: relative;
}

.shop_left_top_a:hover .hidden_block,
.shop_left_top_a:hover .hidden_img,
.shop_left_top_a:hover .hidden_p {
  display: block;
}

.shop_left_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop_left_bottom_a {
  position: relative;
}

.shop_left_bottom_a:hover .hidden_block,
.shop_left_bottom_a:hover .hidden_bottom_top_img,
.shop_left_bottom_a:hover .hidden_bottom_top_p {
  display: block;
}

.shop_middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.shop_middle_left {
  position: relative;
}

.shop_middle_left_a:hover .hidden_block,
.shop_middle_left_a:hover .hidden_middle_img,
.shop_middle_left_a:hover .hidden_middle_p {
  display: block;
}

.shop_middle_right {
  position: relative;
}

.shop_middle_right_a:hover .hidden_block,
.shop_middle_right_a:hover .hidden_middle_img,
.shop_middle_right_a:hover .hidden_middle_p {
  display: block;
}

.shop_right {
  width: 100px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.shop_right_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop_right_top_a {
  position: relative;
}

.shop_right_top_a:hover .hidden_block,
.shop_right_top_a:hover .hidden_bottom_top_img,
.shop_right_top_a:hover .hidden_bottom_top_p {
  display: block;
}

.shop_right_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop_right_bottom_a {
  position: relative;
}

.shop_right_bottom_a:hover .hidden_block,
.shop_right_bottom_a:hover .hidden_img,
.shop_right_bottom_a:hover .hidden_p {
  display: block;
}

.img_width {
  width: 100%;
  display: block;
}

.hidden_block {
  top: 0px;
  height: 100%;
  width: 100%;
  background-color: #81CDB0;
  position: absolute;
  opacity: 0.65;
  display: none;
}

.hidden_icon {
  position: absolute;
  top: 0px;
}

.hidden_bottom_top_img {
  margin-left: 200px;
  margin-top: 80px;
  position: absolute;
  top: 0px;
  display: none;
}

.hidden_bottom_top_p {
  position: absolute;
  margin-top: 112px;
  margin-left: 185px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  width: 100px;
  display: none;
}

.hidden_middle_img {
  margin-top: 190px;
  margin-left: 90px;
  position: absolute;
  top: 0px;
  display: none;
}

.hidden_middle_p {
  position: absolute;
  margin-top: 225px;
  margin-left: 75px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  width: 100px;
  display: none;
}

.hidden_img {
  margin-top: 80px;
  margin-left: 90px;
  position: absolute;
  top: 0px;
  display: none;
}

.hidden_p {
  position: absolute;
  margin-top: 112px;
  margin-left: 75px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  width: 100px;
  display: none;
}

@media (max-width: 768px) {
  .shop {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .shop_left, .shop_right {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .shop_left_top_a, .shop_right_top_a {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .shop_left_bottom_a, .shop_right_bottom_a {
    width: 100%;
  }
  .shop_middle {
    width: 100%;
  }
  .shop_middle_left {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .shop_middle_right {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .hidden_middle_img {
    margin-top: 400px;
    margin-left: 175px;
  }
  .hidden_middle_p {
    margin-top: 435px;
    margin-left: 160px;
  }
  .hidden_img {
    margin-top: 165px;
    margin-left: 165px;
  }
  .hidden_p {
    margin-top: 200px;
    margin-left: 150px;
  }
  .hidden_bottom_top_img {
    margin-left: 360px;
    margin-top: 150px;
  }
  .hidden_bottom_top_p {
    margin-top: 183px;
    margin-left: 348px;
  }
}

@media (max-width: 425px) {
  .hidden_img {
    margin-top: 80px;
    margin-left: 90px;
  }
  .hidden_p {
    margin-top: 111px;
    margin-left: 77px;
  }
  .hidden_middle_img {
    margin-top: 200px;
    margin-left: 80px;
  }
  .hidden_middle_p {
    margin-top: 232px;
    margin-left: 67px;
  }
  .hidden_bottom_top_p {
    margin-top: 114px;
    margin-left: 185px;
  }
  .hidden_bottom_top_img {
    margin-left: 200px;
    margin-top: 80px;
  }
}

.shop_button {
  height: 200px;
  background-color: black;
}

.shop_button_a {
  display: block;
  color: #B7BABC;
  border: 1px solid #B7BABC;
  width: 300px;
  height: 50px;
  text-align: center;
  padding-top: 13px;
}

.shop_button_a:hover {
  color: #FF5300;
  border: 1px solid #FF5300;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.button_block {
  width: 300px;
  height: 50px;
  padding-top: 75px;
  margin: 0px auto;
}

@media (max-width: 425px) {
  .shop_button {
    height: 140px;
  }
  .button_block {
    padding-top: 45px;
  }
}

.email {
  height: 470px;
  background: white;
  text-align: center;
}

.email_logo {
  margin-top: 110px;
  margin-bottom: 45px;
}

.email_p {
  margin-bottom: 45px;
  font-style: italic;
  font-size: 24px;
  color: #9EA0A2;
}

.email_input {
  width: 400px;
  height: 70px;
  outline: none;
  border: 1px solid #E3E6E7;
  color: black;
  padding-left: 25px;
  font-size: 22px;
}

.email_input::-webkit-input-placeholder {
  font-size: 20px;
  color: #D8D8D8;
  font-style: italic;
}

.email_input:-ms-input-placeholder {
  font-size: 20px;
  color: #D8D8D8;
  font-style: italic;
}

.email_input::-ms-input-placeholder {
  font-size: 20px;
  color: #D8D8D8;
  font-style: italic;
}

.email_input::placeholder {
  font-size: 20px;
  color: #D8D8D8;
  font-style: italic;
}

.email_button {
  height: 70px;
  width: 125px;
  margin-left: 10px;
  background: #64C29E;
  cursor: pointer;
  border: none;
  font-size: 24px;
  color: white;
}

.email_button:hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.email_form {
  margin: 0 auto;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1024px) {
  .email {
    height: 430px;
  }
  .email_logo {
    margin-top: 70px;
  }
}

@media (max-width: 768px) {
  .email {
    height: 350px;
  }
  .email_logo {
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .email_p {
    margin-bottom: 30px;
  }
  .email_input {
    width: 370px;
    height: 60px;
  }
  .email_button {
    height: 60px;
    width: 100px;
  }
}

@media (max-width: 425px) {
  .email {
    padding-left: 10%;
    padding-right: 10%;
  }
  .email_input {
    width: 280px;
    height: 50px;
    font-size: 15px;
    padding-left: 15px;
  }
  .email_button {
    height: 50px;
    width: 60px;
    font-size: 21px;
  }
  .email_form {
    width: 300px;
  }
}

.footer {
  height: 250px;
  background: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 100px;
}

.footer_address {
  font-style: italic;
  color: #8B8E8F;
}

.footer_social_img {
  margin-right: 15px;
}

.footer_logo {
  font-style: italic;
  color: #8B8E8F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_logo_img {
  height: 36px;
  margin-left: 10px;
  margin-top: -7px;
}

.span_address {
  font-weight: bold;
  color: #888A8C;
}

@media (max-width: 1024px) {
  .footer {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (max-width: 768px) {
  .footer {
    height: 180px;
    padding-top: 80px;
  }
  .footer_address_p {
    font-size: 12px;
  }
  .footer_logo_p {
    font-size: 12px;
  }
  .footer_social_img {
    height: 28px;
  }
}

@media (max-width: 425px) {
  .footer {
    padding-top: 40px;
    display: block;
    text-align: center;
  }
  .footer_logo {
    display: none;
  }
  .footer_address {
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=style.css.map */